@import '../../../../sass/styles';


.post-wrapper{
  width: 99%;
  padding-bottom: 25%;
  font-family: Palatino;
  font-weight: 200;
  min-height: 100vh;

  & .category-label{
    position: relative;
    background-color: $mild;
    color: $contrast;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 3px;
    display: inline-block;
    margin: 2px;
    bottom: 0;
    left: 0;

  }
  & span{
    line-height: 2rem;
    padding: 1rem;
  }


  & .title-wrapper{
    width: 100%;
    z-index: 1;
    & h1{
      font-size: 2.7rem;
      line-height: 4rem;
    }
  }

  & .image-wrapper{
    position: relative;

    & img{
      padding: 1rem 7rem;
      width: 50vw;
      @media screen and (max-width:600px){
        padding: 1rem;
        width: 90vw;
      }
    }
  }

  & p{
    padding: 0 5%;
  }


}


