@import '../../../../sass/styles';

.calendar{
  .decorator{
    height: 10px;
    border-bottom: 20px dotted #71677c;
    width: 100%;
  }
  & h2{
    text-align: center;
  }
  & ul{
    text-align: left;
    font-size: .8rem;
    list-style-type: none;
    & li{
      width: 256px;
      display: inline-block;
      margin-right: 5%;
      vertical-align: top;
      background-color: $white ;
      border: 1px solid $mild;
      border-radius: 5px;
      & h3{
        font-size: 1.2rem;
      }
      & p{
        font-size: 1.4rem;
        line-height: 1.8rem;
        background-color: $white;

      }
      & .image-wrapper{
        margin-top: 2rem;
        position: relative;
        contain: content;
        height: 180px;
        & img{
          width: 100%;
          filter: sepia(87%) brightness(1.5);

        }
      }

        & caption{
          width: 100%;
          background-color: $mild2;
          color: $white;
          position: absolute;
          bottom: 5%;
          opacity: .9;
        }
        & .category-label{
          position: absolute;
          background-color: $mild;
          color: $contrast;
          border-radius: 2px;
          font-size: .9rem;
          padding: 3px;
          display: inline-block;
          margin: 2px;
          top: 4%;
          left: 0;
        }
    }
  }
}
