<div class="what">
  <div class="col">
    <span>🪓</span>
    <h3>ciesielstwo</h3>
    <p>kyfrtur jakir mamio rampa piglu katryba. Jhuertan hu tylda, wrhat koltho fahltyk.</p>
    <app-button text="idź" link="#"></app-button>
  </div>
  <div class="col">
    <span>🚪</span>
    <h3>stolarstwo</h3>
    <p>kyfrtur jakir mamio rampa piglu katryba. Jhuertan hu tylda, wrhat koltho fahltyk.</p>
    <app-button text="idź" link="#"></app-button>
  </div>
  <div class="col">
    <span>🔨</span>
    <h3>warsztaty</h3>
    <p>kyfrtur jakir mamio rampa piglu katryba. Jhuertan hu tylda, wrhat koltho fahltyk.</p>
    <app-button text="idź" link="#"></app-button>
  </div>
</div>
