@import '../../../../sass/styles';

.what{
  width: 90%;
  height: 437px;

  @include respond(tab-land){
    width: 100%;
    height: 461px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
  }
}
.col{
  width: 30%;
  margin-left: 3.333333%;
  display: inline-block;
  text-align: center;
  @include respond(tab-port){
    width: 51vw;
  }
  @include respond(phone){
    width: 70vw;

  }
  & span{
    font-size: 70px;
  }
  & p{
    display: inline-block;
    width: 70%;
    vertical-align: bottom;
  }
  & h3{
    @include respond(tab-port){
      width: 51vw;
    }
    @include respond(phone){
      width: 70vw;

    }
  }

}
