@import './../../../../sass/styles';



.mission{
  width: 100%;
  margin-top: 5rem;
}
h2{
  text-align: center;
}
.col-2
{
  display: inline-block;
  background-color: $contrast;
  margin-left: 18%;
  width: 40%;
  height: 400px;

}

.col-1{
  display: inline-block;
  width: 20%;
  height: 400px;
  vertical-align: top;
  margin-left: 4%;

}

