@import '../../../../sass/styles';



.mission{
  width: 73%;
  margin: 5rem auto 0;
}
h2{
  text-align: center;
}
.col{
  display: inline-block;
  @include respond(phone){
    display: block;
  }
}
.col-image
{
  background-color: $contrast;
  width: 55%;
  height: 390px;
  @include respond(phone){
    margin-left: 0%;
    width: 100%;
    height: 300px;

  }

}

.col-text{
  width: 41%;
  vertical-align: top;
  margin-left: auto 4%;
  @include respond(phone){
    margin-left: 0%;
    width: 100%;

  }

}

