@import '../../../../sass/styles';


.post-wrapper{
  width: 99%;
  padding-bottom: 25%;
  font-family: Palatino;
  font-weight: 200;
  min-height: 100vh;
  & h1{
      font-size: 2.7rem;
      line-height: 4rem;
  }

  & img{
      padding: 1rem 7rem;
      width: 50vw;
      @media screen and (max-width:600px){
        padding: 1rem;
        width: 90vw;
    }
  }

  & span{
    line-height: 2rem;
    padding: 1rem;
  }
}

.title-wrapper{
  width: 100%;
  z-index: 1;
}


.image-wrapper{
  position: relative;

  & .category-label{
    position: relative;
    background-color: $color;
    color: $mild;
    border-radius: 2px;
    font-size: 12px;
    padding: 2px;
    display: inline-block;
    margin: 2px;
    top: 0;
    left: 0;

  }
}
