
@import '../../../sass/styles';


.cover{
  background-color: $contrast;
  width: 100%;
  height: 90vh;
  position: relative;
  & .cover-h{
    position: absolute;
    bottom: 0;
    left: 5%;
    & h1,h2{
      color: $white;
    }
  }
  @include respond(tab-land){
  height: 45vh;
  }

  @include respond(phone){
    background-color: $contrast;
    height: 268px;
    width: 100%;
  & .cover-h{
    left: 0;
    & h1,h2{
      color: $white;
    }
  }
  }
}
