<div class="desktop">
  <nav>
    <div id="nav-main-container">
      <div id="nav-main">
        <ul>
          <li><a routerLink="/ciesielstwo" routerLinkActive="active"><img src="" alt="logo"></a></li>
          <li><a routerLink="/warsztaty" routerLinkActive="active">warsztaty</a></li>
          <li><a routerLink="/realizacje" routerLinkActive="active">realizacje</a></li>
          <li><a routerLink="/wiedza" routerLinkActive="active">wiedza</a></li>
          <li><a routerLink="/kontakt" routerLinkActive="active">kontakt</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
