@import '../../../../sass/styles';


span{
  padding: 3px;
  font-size: 10px;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  height: 15px;
}

.event-cover{
  position: relative;
  width: 100%;
  & img{
    width: 100%;
    margin: auto 0;
  }
}

.event-date{
  font-family: Palatino;
  font-size: 1rem;
  line-height: 1.5rem;
  position: relative;
  top:22px;
  font-size: 12px;
}

.event-cover-image{
  width: 100%;
  position: relative;
}

caption.event-cover-title{
  width: 100%;
  position: relative;
  mix-blend-mode: darken;
  color: $contrast;
  padding: 1px;
  text-align: left;
  font-size: 1rem;


}

.category-label{
  position: relative;
  background-color: #dda77b;
  color: #37123c;
  border-radius: 2px;
  font-size: 12px;
  padding: 2px;
  display: inline-block;
  margin: 2px;
  top: 22px;


}

