@import '../../../../sass/styles';

.event-cover{
  position: relative;
  width: 100%;
  & img{
    width: 100%;
    margin: auto 0;
  }
}

.event-date{
  font-family: Palatino;
  font-size: 1rem;
  line-height: 1.5rem;
}

.event-cover-image{
  width: 100%;
}

caption.event-cover-title{
  width: 100%;
  display: inline;
}
span{
  font-size: 10px;
}
.category-label{
  position: relative;
  background-color: #dda77b;
  color: #37123c;
  border-radius: 2px;
  font-size: 12px;
  padding: 2px;
  display: inline-block;
  margin: 2px;
  top: 20px;


}

