@import '../../../sass/styles';

.holder{
  width: 80%;
  background-color: $mild2;
  margin: 1rem auto;
  height: 27rem;


  & h2{
    font-size: 1.4rem;
    padding: .5rem;
  }

  & p{
    padding: .5rem;
    font-size: .9rem;
  }

  & img{
    width: 100%;
    vertical-align: middle;

  }
  & .holder-info{
    width: 35%;
    height: 50%;
    margin-top: 5%;
  }
  & .holder-slides{
    width: 60%;
  }
}

.holder:nth-child(odd){
  & .holder-col:nth-child(1){
    float: left;
    display: block;
  }
  & .holder-col:nth-child(2){
    float: right;
    display: block;
    border-left: solid 10px $contrast;
  }
}

.holder:nth-child(even){
  & .holder-col:nth-child(1){
    float: right;
    display: block;
  }
  & .holder-col:nth-child(2){
    float: left;
    display: block;
    border-right: solid 10px $contrast;
    text-align: right;

  }
}

.label{
  position: relative;
  border-radius: 2px;
  font-size: 12px;
  padding: 2px;
  display: inline-block;
  margin: 2px;
}

.tag-label{
  background-color: $contrast;
  color: $mild2;
}
.category-label{
  background-color: $color;
  color: $mild;
}


