<h1>realizacje</h1>

<main *ngIf="products | async as products; else loadingBlock">
  <div *ngFor="let domek of products" class="holder">
<!-- <main *ngIf="domki; else loadingBlock">
  <div *ngFor="let domek of domki" class="holder"> -->
    <div class="holder-col holder-slides">
      <div class="decoration"></div>
      <app-slideshow [slidesId]="domek.slug" [slidesSet]="domek.images"></app-slideshow>
    </div>
    <div class="holder-col holder-info">
      <h2>{{ domek.title }}</h2>
      <ul>
        <li>inwestor: {{ domek.investor }}</li>
        <li>kolor domku: {{ domek.house }}</li>
        <li>kolor dachu: {{ domek.gont }} </li>
        <li>kategoria: <span *ngFor="let category of domek.categories" class="label category-label">{{ category }}</span></li>
        <li>tagi:<span *ngFor="let tag of domek.tags" class="label tag-label">{{ tag }}</span></li>
      </ul>
       <br>






    </div>
  </div>
</main>

<ng-template #loadingBlock>
  <p>
    Loading...
  </p>
</ng-template>

