@import '../../../sass/styles';

.holder{
  width: 80%;
  background-color: $white;
  margin: 4rem auto;
  height: 27rem;
  & p{
    padding: .5rem;
    font-size: .9rem;
  }
  & img{
    width: 100%;
    vertical-align: middle;
  }
  & .holder-info{
    width: 39%;
    height: 89%;
    overflow: hidden;

    & h2{
      margin-top: $gap;//decoration
      font-size: 1.6rem;
      padding: 2rem 0 0 0;
      margin: 0;
    }
    & ul{
      padding: 1rem;
      list-style: none;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 100;
      font-size: 1rem;
      & li{
        padding-bottom: 1rem;
      }
    }
  }
  & .holder-slides{
    width: 60%;

  }
  @include respond(tab-port){
    width: 100%;
    height: auto;
    & .holder-slides{
      width: 100%;
      float: none;
    }
    & .holder-info{
      width:65%;
    }

    }
}

.holder:nth-child(odd){
  & .holder-col:nth-child(1){
    float: left;
    display: block;
  }
  & .holder-col:nth-child(2){
    float: right;
    display: block;
    border-left: 6px dashed $mild2;
  }
  & .holder-info{
    margin: 0 0 5% 0;
    & h2{
      padding-left: 2rem;
    }

  }
}

.holder:nth-child(even){
  & .holder-col:nth-child(1){
    float: right;
    display: block;
  }
  & .holder-col:nth-child(2){
    float: left;
    display: block;
    border-right: 6px dashed $mild2;
    text-align: right;

  }
  & .holder-info{
    margin: 0 0 5% 0;
    & h2{
      padding-right: 2rem;
    }
  }
}

.label{
  position: relative;
  border-radius: 2px;
  font-size: 1rem;
  padding: 4px;
  display: inline-block;
  margin: 0 4px;
}

.tag-label{
  background-color: $mild;
  color: $white;
}
.category-label{
  background-color: $mild2;
  color: $white;
}

.decoration{
  width: 35%;
  height: $gap;
  border-top: 6px dashed $mild2;
  // background-color: $color;

}
